{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead mb-0" style="background-image: url('{{ url_for('static', filename='img/home2.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Physics World</h1>
              <span class="subheading">A Blog by few Physics Enthusiasts</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% with messages=get_flashed_messages(with_categories=true)%}
{%if messages%}
{%for category,message in messages%}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{%endfor%}
{%endif%}
{%endwith%}
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

  {% for post in posts %}
  <!-- <li><a href="/post/{{post.slug}}">{{post.title}}</a> -->

          <div class="post-preview">
            <a href="/post/{{post.slug}}">
              <h2 class="post-title">{{post.title}}
                
              </h2>
              <h3 class="post-subtitle">
                {{post.tagline}}
              </h3>
            </a>
            <p class="post-meta">Contributed by
              {{post.author}}
              on {{post.date}}</p>
          </div>
          {{post.content[0:185]}}
          <hr>
        </li></a>
          {% endfor %}
          <!-- Pager -->
          <div class="clearfix">
            {% if number !=0%}
            <a class ="btn btn-success float-left" href="{{prev}}">&larr; Newer Posts</a>
            {% endif %}
            <a class="btn btn-danger float-right" href="{{next}}">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
